# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# local only, has admin public ip
admin.auto.tfvars

# Credentials and secrets
*.json.key
*-key.json
credentials*.json
.env
.env.*
